@import "~antd/dist/antd.css";


.ant-comment-content-author-name > a {
  color: gray;
}

.title {
  color: white
}

.body {
  color: white;
}

.articleList{
  border: solid green 2px;
}
.baggy{
  border: solid yellow 2px;
}
