@import "~antd/dist/antd.css";


.ant-comment-content-author-name > a {
  color: gray;
}

.title {
  color: white
}

.body {
  color: white;
}

.articleList{
  border: solid white 2px;
}
.baggy{
  border: solid white 2px;
}

.artpic{
  height: 350px;
  width: 700px;
}
.createarticle {
  margin: 0 auto;
}
.createarticleform {
  margin: 0 auto;
}
