@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css?family=Hind:700');

.ant-comment-content-author-name > a {
  color: gray;
}

.title {
  color: black;
  font-family: 'Hind', sans-serif;
  font-size: 2.5em;
}

.body {
  color: black;
}

.articleList{
  border: solid white 2px;
  background: white;
  color: black;
  padding: 10px;
  margin: 20px;

}
.baggy{
  border: solid white 2px;
  color: black;
}

.artpic{
  height: 350px;
  width: 700px;
}
.createarticle {
  margin: 0 auto;
}
.createarticleform {
  margin: 0 auto;
}
.sidebyside{
  display: flex;
  flex-direction: row;
}
